<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1041726977158-m16sjkibktl9o5m9lcvhskqral0lu0sa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1041726977158-m16sjkibktl9o5m9lcvhskqral0lu0sa</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1041726977158-g85lmgmuvsc2p7tpmi9o26l477fhsrbj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC1a7gMYpWC7qbozwqxQPqkVsNmgQOjVQM</string>
	<key>GCM_SENDER_ID</key>
	<string>1041726977158</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ysrtrk.aboutbelgium</string>
	<key>PROJECT_ID</key>
	<string>aboutbelg</string>
	<key>STORAGE_BUCKET</key>
	<string>aboutbelg.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1041726977158:ios:bb84a365b29b13b2404d07</string>
	<key>DATABASE_URL</key>
	<string>https://aboutbelg-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>